.table {
    width: 100%;
    max-width: 30rem;
}

.table thead {
    background-color: lightblue;
}

.table tbody {
    background-color: lightgray;
}

.table thead tr th {
    font-size: 110%;
    padding: 0.5rem 0;
}

.table tbody tr td {
    padding: 0.4rem 0.7rem;
}

.table tbody tr td.label {
    vertical-align: top;
    font-weight: bold;
    width: 35%;
}
